:root{
    --colorPrimary:#f0d024;
    --colorButton:#25AA52;
    --colorButtonText:#fff;
    --colorWhiteText:#fff;
    --colorBlackText:#080404;
    --colorGreyText:#848e9d;
    --colorGreyWhiteText:#9298a4;
    --colorGreenText:#4caf50;
    --colorRedText:#f6465d;
    --colorInput:#fff;
    --colorBG:#0a100e;
    --colorGreyIcon:#77808f;
    --colorCardBG:#1d252a;
    --colorBorder:#fff;
    --colorGrey: #606060;
    --colorGrey2: #aaaaa9;
    --colorDarkGrey: #232321;
    --colorWhiteBG:#fff;
}