.el-dialog{
    width: 30% !important;
}

.el-dialog.dialog-md{
    width: 40% !important;
}

.el-dialog.no-header .el-dialog__header {
    padding: 0px !important;
}

.el-dialog.dialog-lg{
    width: 60% !important;
}

.el-table__expanded-cell[class*="cell"] {
    padding: 18px 25px !important;
}

.expand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expand-box {
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.expand-box .expand-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.expand.start {
    justify-content: start;
}

.expand.center {
    justify-content: center;
}

.expand.end {
    justify-content: end;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-11 {
    flex: 11;
}

.flex-12 {
    flex: 12;
}

.scroll-box {
    overflow-y: auto;
    max-height: 500px;
}

.scroll-box-body {
    padding-right: 15px;
}

.h-100 {
    height: 100%;
}

.side-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.side-bg {
    background: #000;
    opacity: 0.3;
    width: 100%;
    position: fixed;
    top: 0px;
    min-height: 100%;
    z-index: 9;
}

.sidebar-container {
    width: 300px;
    height: 100%;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: scroll;
}

.sidebar-container.right {
    left: unset;
    right: 0;
}

.slide-enter-active .sidebar-container, .slide-leave-active .sidebar-container,
.slide-enter-active .settingPageSlide-container, .slide-leave-active .settingPageSlide-container {
    transition: transform .2s ease;
}

.slide-enter-from .sidebar-container, .slide-leave-to .sidebar-container,
.slide-enter-from .settingPageSlide-container, .slide-leave-to .settingPageSlide-container{
    transform: translateX(-100%);
}

.slide-enter-from .sidebar-container.right, .slide-leave-to .sidebar-container.right,
.slide-enter-from .settingPageSlide-container.right, .slide-leave-to .settingPageSlide-container.right{
    transform: translateX(100%);
}

.slide-enter-to .sidebar-container, .slide-leave-from .sidebar-container,
.slide-enter-to .settingPageSlide-container, .slide-leave-from .settingPageSlide-container{
    transform: translateX(0);
}

.app-breadcrumb {
    padding: 15px 0px;
}

.back-breadcrumb{
    padding-right: 7px;
	margin-right: 7px;
	border-right: 1px solid #606266;
	cursor: pointer;
	font-size:14px;
}

.back-breadcrumb .el-breadcrumb__separator.el-icon {
    margin: 0;
    color: transparent !important;
    height: 0;
    width: 0;
}

.back-breadcrumb .el-breadcrumb__inner{
	color: #000;
	font-size:14px;
}

.back-breadcrumb .el-icon-arrow-right{
	display: none;
}

.el-breadcrumb__inner a,.el-breadcrumb__inner.is-link{
    font-weight:700;
    text-decoration:none;
    -webkit-transition:color .2s cubic-bezier(.645,.045,.355,1);
    transition:color .2s cubic-bezier(.645,.045,.355,1);
    color:#303133 !important;
}

.el-breadcrumb__inner a:hover,.el-breadcrumb__inner.is-link:hover{
    color:#409EFF !important;
    cursor:pointer
}

.language-dropdown {
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.circle-text {
    border: 1px solid var(--colorPrimary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 0px 10px;
}

.elipsis2line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider {
    height: 1px;
    background-color: #cccccc;
    margin: 20px 0;
}

.fit-content {
    width: fit-content;
}

.breakword, .wordbreak {
    word-break: break-all;
}

.breakword-all p, .wordbreak-all p {
    word-break: break-word;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 700;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.start-text {
    text-align: start;
}

.end-text {
    text-align: end;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

p {
    margin-bottom: 0;
}

.blur {
    filter: blur(3px);
    width: fit-content;
}

.custom-avatar {
    width: 3rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 10px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
}

#nprogress .bar {
    background: var(--colorPrimary);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar:hover {
    width: 4px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}

.row {
    --bs-gutter-x: 0.7rem;
}

.row > * {
    padding: 5px 5px !important;
}

.el-badge__content {
    border: none;
}

.el-input-number * {
    --el-menu-active-color: var(--colorPrimary);
    --el-menu-text-color: var(--colorPrimary);
    --el-menu-hover-text-color: var(--colorPrimary);
    --el-input-focus-border: var(--colorPrimary);
    --el-input-focus-border-color: #fff;
    --el-color-primary: var(--colorDarkGrey);
}

.el-input-number__decrease {
    bottom: 0px;
}

.el-input-number__increase {
    bottom: 0px;
}

.el-input-number .el-input__inner {
    color: var(--colorBlackText);
}

.el-input-number .el-input .el-input__wrapper {
    background-color: #fff;
}

.custom-modal .dialog-footer .el-button.el-button--primary, .el-message-box .el-button.el-button--primary {
    color: var(--colorBlackText);
    background-color: var(--colorPrimary) !important;
}

.el-switch.is-checked .el-switch__core {
    background-color: var(--colorBlue);
    border-color:var(--colorBlue);
}

.el-input {
    --el-input-focus-border-color: var(--colorPrimary);
}

.el-date-editor.el-input, .el-date-editor.el-input__wrapper {
    height: 42px;
}

.el-upload-dragger {
    background-color: var(--colorDarkGrey);
}

.el-date-picker {
    --el-datepicker-hover-text-color: var(--colorPrimary);
}

.el-date-table td.today .el-date-table-cell__text {
    color: var(--colorPrimary);
}

.el-date-table td.current:not(.disabled) .el-date-table-cell__text {
    background-color: var(--colorPrimary);
}

.el-dropdown-menu__item {
    transition: .2s;
    padding: 10px 16px;
    font-size: 0.8rem;
}

.el-dropdown-menu__item:not(.is-disabled):focus {
    background-color: #f0f0f0;
    color: var(--colorBlackText);
}

.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
    background-color: var(--colorOrangeText) !important;
    font-weight: 500;
}

.el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    transition: .2s;
}

.el-pagination .btn-prev .el-icon:hover,
.el-pagination .btn-next .el-icon:hover {
    color: var(--colorOrangeText);
} 

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #fff;
    width: 10px;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.5rem;
}

.bottom-sheet {
    z-index: 100 !important;
}

.bottom-sheet[aria-hidden="false"] .bottom-sheet__overlay {
    background: rgba(0, 0, 0, 0.6) !important;
    animation: fadeIn .15s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bottom-sheet[aria-hidden="false"] .bottom-sheet__content {
    animation: fromDownToUp .15s ease-in-out;
}

.bottom-sheet__content.bottom-sheet__content--dragging {
    transition: none;
}

@keyframes fromDownToUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.bottom-sheet__content {
    background-color: var(--colorBG) !important;
    color: var(--colorBlackText);
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid var(--colorPrimary);
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
}

.file-upload-btn:hover {
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 10px;
    border: 2px dashed var(--colorPrimary);
    position: relative;
    transition: .2s;
    border-radius: 5px;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #f0d024d6;
    border: 2px dashed #ffffff;
}

.image-title {
    margin-bottom:15px;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text .content {
    font-weight: 100;
    color: var(--colorBlackText);
    padding: 60px 0px;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.custom-bottom-sheet-scroll {
    overflow-y: auto;
    max-height: 500px;
    margin-top: 10px;
}

.custom-bottom-sheet-item {
    padding: 10px 16px;
    transition: .2s;
}

.custom-bottom-sheet-item:hover {
    background-color: #dadada;
    color: var(--colorBlackText);
}

.mobile-order-1 {
    order: 1 !important;
}

.mobile-order-2 {
    order: 2 !important;
}

@keyframes fromDownToUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@media (max-width: 1024px) {
    .mobile-left-text {
        text-align: left !important;
    }

    .mobile-column-center2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:665px) {
    .mobile-d-block {
        display: block !important;
    }

    .mobile-column-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-w100 {
        width: 100% !important;
    }

    .mobile-ml-zero {
        margin-left: 0px !important;
    }

    .mobile-mt {
        margin-top: 15px !important;
    }

    .mobile-mt2 {
        margin-top: 5px !important;
    }

    .mobile-mb {
        margin-bottom: 15px !important;
    }

    .mobile-order-1 {
        order: 2 !important;
    }

    .mobile-order-2 {
        order: 1 !important;
    }

    .mobile-p-0 {
        padding: 0px !important;
    }

    .mobile-font {
        font-size: 14px;
    }

    .hide-mobile {
        display: none !important;
    }
}

.steps-with-border-icon .el-step__icon.is-icon {
    width: 60px;
    height: 60px;
    border: 3px solid;
    border-radius: 50%;
}

.steps-with-border-icon .el-step.is-horizontal .el-step__line {
    height: 3px;
    top: 30px;
}

.step-icon1 i{
    font-size: 18px;
}

.steps-with-border-icon .el-step__head.is-finish .el-step__line{
    background-color: #409eff !important;
}

.steps-with-border-icon .el-step__head.is-process .el-step__icon.is-icon{
    background-color: #409eff !important;
    border: 3px solid #409eff;
    color: white !important;
}

.steps-with-border-icon .el-step.is-center .el-step__main {
    margin-top: 10px;
}

.steps-with-border-icon .el-step__title.is-process {
    font-weight: 700;
    color: #409eff;
}

.steps-with-border-icon .el-step__description.is-process {
    color: #409eff;
}

.steps-with-border-icon .el-step__title.is-finish {
    color: #000;
}

.steps-with-border-icon .el-step__description.is-finish {
    color: rgba(0, 0, 0, .5);
}

.logistics-timeline{
    text-align: left;
    padding-left: 6px;
}

.logistics-timeline .el-timeline-item__content{
    color: rgba(0,0,0,.54) !important;
}

.logistics-timeline .el-timeline-item:first-child .el-timeline-item__content{
    color: #000 !important;
}

.logistics-timeline .el-timeline-item__node{
    background: #C0C4CC !important;
    border: 2px solid #9DA1A9 !important;
    width: 24px !important;
    height: 24px !important;
    left: -6px;
}

.logistics-timeline .el-timeline-item:first-child .el-timeline-item__node{
    background: #fef200 !important;
    border: 2px solid #e6da00 !important;
}

.logistics-timeline .el-timeline-item__wrapper{
    top: 1px !important;
}