@media(max-width:1366px){
    .el-dialog{
        width: 50% !important;
    }
    .career-text-title{
        font-size: 18px!important;
    }
    .career-about-desc{
        font-size: 18px!important;
    }
    .approach-section-text{
        font-size: 15px!important;
    }
    .textInvestment-fara{
        font-size: 34px;
    }
    .fara-img{
        height: 470px!important;
    }
}

@media(max-width:1024px){
    .custom-size{
        max-width: 100%;
        width: 100%;
    }

    .footer{
        width: 100%;
        left: 0;
    }


    .el-dialog{
        width: 90% !important;
    }

    .approach-title-text, .fundamentals-title-text,.opportunity-title{
        font-size: 3.2vw;
    }
    .approach-text{
        font-size: 16px;
    }
    .approach-container{
        max-width: 740px;
    }

    .strategy-title{
        font-size: 14px!important;
    }
    .people-title{
        font-size: 17px!important;
    }
    .people-job-role{
        font-size: 11px!important;
    }
    .approach-section-title{
        font-size: 33px!important;
    }
    .approach-text-container{
        padding:2rem 2rem 0 !important;
    }
    .fundamentals-title{
        font-size: 40px;
    }
    .fundamentals-text{
        font-size: 18px;
    }
}

@media(max-width:992px){
    .header-web{
        display: none!important;
    }
    .header-mobile{
        display: block!important;
    }
    .header-container{
        position: relative;
        height: 55px!important;
    }
    .header-menu-mobile{
        display: block;
        position: absolute;
        z-index: 7;
        top: .5rem;
        right: .5rem;
        font-size: 30px;
        cursor: pointer;
        color: #4a7bbc;
    }
    .farallon-logo{
        position: absolute;
        top: 8px;
        left: .5rem;
        height: 100%;
        max-height: 40px;
    }
    .fara-img{
        height: 400px!important;
        min-height: 400px!important;
    }
    .farallon-image{
        min-height: 400px!important;
    }
    .textInvestment-fara{
        font-size: 4vw;
    }
    .textFarallon-fara{
        font-size: 13px!important;
    }
    .approach-container{
        max-width: 640px;
        text-align: center;
        margin: 0 auto;
        padding: 3rem 1rem;
    }
    /* //footer */
    .footer-section-1.expand{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-section-2{
        display: flex;
        flex-direction: column;
    }
    .footer-copyright{
        margin-top: 1rem;
        justify-content: flex-start;
    }
    .footer-icon{
        margin-bottom: 2rem;
    }
    .contact-text{
        font-size: 17px!important;
    }
    .working-title{
        font-size: 13px!important;
    }
    .career-working-text{
        font-size: 15px!important;
    }
    .section-image-text{
        min-height: 400px!important;
    }
    .image-about{
        height: 400px!important;
    }
    .text-about-wrapper{
        padding: 2rem 1rem!important;
    }
    .career-about-desc {
        font-size: 13px !important;
    }
    .approach-section-text{
        font-size: 13px!important;
    }
    .text-about-title{
        font-size: 23px!important;
    }
    .text-about-desc{
        font-size: 16px!important;
    }
    .manage-text-name{
        font-size: 3.2vw;
    }
    .manage-text-quotes{
        font-size: 16px;
    }
    .manage-text-container{
        padding:2rem;
    }
    .privacy-policy-text1,.privacy-policy-title,.privacy-policy-tBOld{
        font-size: 16px!important;
    }
    .ourpeople-d-grid{
        grid-template-columns: repeat(4, 1fr)!important;
    }
}

@media(max-width:880px){
    .contact-title{
        font-size: 32px!important;
    }
    .contact-1-section{
        padding: 2rem!important;
        min-height: 400px!important;
    }
    .approach-title-text,.fundamentals-title-text,.opportunity-title{
        font-size: 26px;
    }
    .dashboard{
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .about-approach-title-text{
        font-size: 26px!important;
    }
    .manage-text-name{
        font-size: 26px;
    }
    .person-text{
        font-size: 17px!important;
    }
    .fallon-latin-title{
        font-size: 28px!important;
    }
    .fallo-latin-ltda,.latin-requrest, .latin-text-1{
        font-size: 17px!important;
    }
    .privacy-title{
        font-size: 32px!important;
    }
    .gdpr-text1,.gdpr-title,.privacy-text2,.privacy-text1{
        font-size: 17px!important;
    }
    .read-user-agreement,.user-agreement-title,.user-agreement-text2,.user-agreement-text{
        font-size: 17px!important;
    }
    .privacy-link{
        font-size: 17px!important;
    }
}

@media (max-width:767px){
    .textInvestment-fara{
        font-size: 30px!important;
        margin-bottom: 1rem;
    }
    .farallon-image {
        min-height: 300px !important;
        width:100%
    }
    .fara-img{
        height: 300px!important;
        min-height: 0px !important;
    }
    .farallon-container{
        padding:.5rem;
    }
    .fara.expand{
        display: flex;
        flex-direction: column;
    }
    .footer-text-container{
        display: flex;
        flex-direction: column;
    }
    .footer-text{
        padding-bottom: 1rem;
    }
    .contact-title{
        /* font-size: 15px!important; */
    }
    .office-title{
        font-size: 26px!important;
    }
    .office-title-text{
        font-size: 20px!important;
    }
    .contact-2-section{
        width: 100%!important ;
        min-height: 0px!important;
        height: 300px!important;
    }
    .office-title{
        margin-bottom: .5rem!important;
    }
    .contact-container.expand {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .contact-1-section{
        padding: .5rem!important;
        min-height: 0px!important;
    }
    .career-working-container{
        padding:0!important;
        padding-top: 2.5rem!important;
        padding-bottom: 1rem!important;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .section-image-text{
        display: flex;
        flex-direction: column;
    }
    .img-about-wrapper{
        width: 100%!important;
    }
    .text-about-wrapper{
        width: 100%!important;
    }
    .flex-cl-reverse{
        flex-direction: column-reverse!important;
    }
    .hover-wrapper{
        min-height: 0px!important;
    }
    .strategy-text{
        margin-top: 4rem!important;
    }
    .approach-text-container{
        width: 100%!important;
        padding:2rem 0rem!important;
    }
    .approach-wrapper{
        margin-bottom:0rem!important;
    }
    .people-image{
        height: 300px;
    }
    .about-approach-learn-btn.expand.expand{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .about-capability-text{
        font-size: 18px!important;
    }
    .text-about-desc{
        max-width: none;
        line-height: 1.4;
    }
    .text-about-title{
        font-size: 20px!important;
    }
    .timeline-web{
        display: none!important;
    }
    .timeline-mobile{
        display: block!important;
    }
    .time-line-image-title::before{
        width: 100%!important;
    }
    .our-timeline{
        margin-bottom: 0px!important;
    }
    .time-line-image-container{
        padding: 1.2rem!important;
    }
    .time-line-image-desc{
        font-size: 25px!important;
    }
    .div-timeline-desc{
        padding:1.2rem!important;
    }
    .timeline-title{
        font-size: 17px!important;
    }
    .image-partner{
        position: relative;
        -o-object-fit: cover;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        max-height: 101%;
        height: auto!important;
        width: 100%!important;
    }
    .image-container-manage{
        max-height: 300px;
        height: auto!important;
    }
    .working-container-manage{
        min-height: 300px!important;
        height: auto!important;
    }
    .manage-text-container{
        padding:1rem!important
    }
    .manage-text-job::after{
        content:none!important;
        /* display: ; */
    }
    .fundamentals-mobile-1 {
        display: flex!important;
        justify-content: space-evenly;
    }
    .fundamentals-title-text-mobile-1{
        text-align: center;
        max-width: 740px;
        padding: 2rem .5rem!important;
        align-items: self-start!important;
        font-size: 26px!important;
    }
    .fundamendatls-d-flex-wrap{
        display: flex;
        flex-direction: column;
    }
    .fundamentals-container{
        padding:1rem!important;
    }
    .fundamentals-title-home{
        font-size: 5vw;
    }
    .person-image-container{
        align-self: flex-start;
    }
    .ourpeople-d-grid{
        grid-template-columns: repeat(3, 1fr)!important;
    }
    .person-img{
        object-fit: cover!important;
        align-items: stretch;
        width: 100%!important;
        height: 100%!important;
        position: static!important;
        transform: none!important   ;
    }
    .person-image-container{
        align-self: auto!important;
        position: static!important;
    }   
}

@media(max-width:665px){
    .ourpeople-d-grid{
        grid-template-columns: repeat(2, 1fr)!important;
    }

    .custom-size{
        max-width: 100%;
        width: 100%;
    }

    .last-row{
        flex-direction: column;
    }

    .last-row-item .custom-button{
        font-size: 13px;
        margin-top: 18px !important;
        padding: 8px;
    }

    .profile-head{
        padding: 7px 20px 25px;
        margin: 0 15px 0;
    }

    .login-form{
        padding: 20px 0;
    }

    .login-area{
        margin: 20px 15px;
    }

    .dashboard-head{
        margin-top: 4px;
    }

    .custom-page-content,.custom-content{
        padding: 15px;
    }

    .contact-head{
        padding: 20px 15px;
    }

    .contact-content{
        margin: 0 15px 10px;
    }

    .el-message-box{
        width: 90%;
    }

    .el-message{
        width: 200px;
        height: 200px;
    }

    .custom-input .el-input-group__prepend{
        padding: 10px 0px 10px 15px;
    }

    .custom-input .el-input__wrapper{
        padding: 5px 5px 5px 13px;
    }

    .custom-input .el-input__wrapper input{
        font-size: 13px;
    }

    .sidebar{
        width: 80%;
        max-width: 310px;
    }

    .sidebar-header{
        padding: 20px;
    }

    .custom-page-bg{
        padding: 15px 15px 0;
    }

    .custom-page-bg.px-0 .custom-header-title{
        padding: 0 15px;
    }

    .footer .item i{
        font-size: 20px;
    }
    
    .footer p{
        font-size: 12.5px;
        line-height: 14px;
        font-weight: 400;
        margin: 3px 0 0;
    }

    .footer .item{
        padding: 14px 0 13px;
    }

    .custom-title{
        font-size: 19px;
        margin-bottom: 0;
    }

    .custom-title-big .left i{
        font-size: 20px;
        margin-right: 5px;
    }

    .custom-icon{
        font-size: 20px;
    }

    .custom-button{
        font-size: 13.5px;
        padding: 10px;
    }

    .login-form .custom-button{
        margin-top: 45px;
    }

    .custom-submit-form .el-form-item{
        padding: 8px 13px;
        margin-bottom: 16px;
    }

    .custom-submit-form .el-form-item__label{
        font-size: 13px !important;
    }

    .custom-submit-form .el-input__inner{
        font-size: 13px !important;
    }

    .custom-outline-button{
        font-size: 14.5px;
    }

    .custom-submit-form .append .el-input-group__append{
        font-size: 16px;
        padding: 0;
    }

    .custom-submit-form .append.el-form-item{
        padding-left: 13px;
    }

    .custom-submit-form .append .el-input__wrapper{
        padding: 8px 12px 8px 0 !important;
    }

    .custom-submit-form .append label{
        padding: 8px 0;
    }

    .custom-row-form .el-form-item__label{
        /* width: 50%; */
        font-size: 14px;
    }

    .custom-row-form .el-form-item__content{
        font-size: 14px;
    }

    .custom-header{
        font-size: 15px;
    }

    .custom-header i{
        font-size: 17px;
    }

    .record-area .item .item-button i{
        font-size: 27px;
    }

    .record-area .item .item-button i.edit{
        margin: 0 0 12px 0 !important;
    }

    .record-area .item .item-content{
        /* margin-right: 15px; */
    }

    .record-area .item .item-button{
        text-align: right;
    }

    .record-area .item .item-content .subtitle{
        font-size: 14px;
        line-height: 16px;
    }

    .record-area{
        margin-top: 10px;
        overflow: auto;
    }

    .record-area .item .item-content .date,.receipt-form-item .el-form-item__label,.record-area .item .item-content .subtitle{
        font-size: 13px;
    }

    .record-area .item .item-content .title,.record-area .item .item-value{
        font-size: 15.4px;
    }

    .receipt-title{
        font-size: 21px;
    }

    .record-area .item .item-img{
        height: 40px;
        margin-right: 15px;
    }

    .record-area-date .item-date{
        font-size: 13px;
        line-height: 16px;
    }

    .record-area-date .item-content{
        padding: 12px 15px;
    }

    .record-area-date .item .item-content .date{
        font-size: 13px;
    }

    .record-area-date .item .item-content .title{
        font-size: 16px;
        margin-bottom: 3px;
    }

    .record-area-date .item .item-content .subtitle{
        font-size: 14px;
        line-height: 16.5px;
    }

    .qr-area .qr-link{
        font-size: 15px;
        text-align: center;
        margin: 10px 0 30px;
    }

    .custom-submit-form.mobile .el-form-item{
        flex-direction: column;
    }

    .custom-submit-form.mobile .el-form-item__label{
        width: 100%;
        display: none;
    }

    .custom-submit-form.mobile .el-input__wrapper{
        padding: 0;
    }

    .custom-submit-form.mobile .el-input__inner{
        text-align: left;
    }

    .record-area .item{
        padding: 13px 14px;
    }

    .login-form-subtitle{
        font-size: 13.5px;
        margin-bottom: 18px;
    }

    .login-form-title{
        font-size: 20px;
    }

    .record-area .item .item-value p{
        text-align: right;
    }

    .record-area .item .item-value{
        min-width: 70px;
    }

    .record-area .item .item-content .subtitle{
        word-break: break-word;
    }

    .dashboard-wallet{
        margin-top: 18px;
        padding: 20px 15px 15px;
    }

    .dashboard-wallet .top img{
        height: 35px;
    }

    .dashboard-wallet-bg .button-area .custom-button{
        margin-left: 10px;
        min-width: 100px;
        padding: 8px;
        font-size: 13px;
    }

    .dashboard-wallet .center .title{
        margin-top: 25px;
        font-size: 14px;
    }

    .dashboard-wallet .center .subtitle{
        font-size: 23px;
    }

    .dashboard-wallet .bottom{
        margin-top: 23px;
    }

    .dashboard-wallet .bottom .item{
        padding-left: 0px;
    }

    .dashboard-wallet .bottom .title{
        font-size: 16px;
    }

    .custom-input-title p,.ads-result .center .item .title,.team-detail .item .title,.ico-list .item .top,.ico-summary-bg .desc,.pool-result .item-area .item,.pool-summary-bg .title,.staking-summary .item .left,.staking-summary .item .right,.staking-detail .bottom .left .title, .staking-detail .bottom .center .title,.mission-list .item p,.subscribe-list .item .center .center-item .title,.assets-total,.dashboard-wallet .bottom .subtitle,.dashboard-invite .subtitle,.dashboard-staking .item-area .item .item-subtitle{
        font-size: 14px;
    }

    .custom-select .el-input{
        height: 42px;
    }

    .dashboard-invite,.dashboard-staking{
        margin-top: 10px;
    }

    .dashboard-invite,.dashboard-staking{
        padding: 14px;
    }

    .dashboard-invite .title{
        font-size: 18px;
        margin-bottom: 0;
    }

    .dashboard-invite .custom-button{
        min-width: 70px;
        padding: 5px;
        font-size: 13px;
    }
    
    .dashbaord-menu{
        gap: 7px;
        margin-top: 10px;
    }

    .dashbaord-menu .item{
        min-height: 100px;
    }

    .dashbaord-menu .item img{
        min-height: 21px;
    }

    .dashbaord-menu .item p{
        font-size: 12.5px;
        font-weight: 300;
    }

    .dashboard-staking .custom-button{
        min-width: 95px;
        padding: 7px;
        font-size: 13px;
    }
    
    .dashboard-staking .left .title{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .dashboard-staking .item-area .item .item-title{
        font-size: 17px;
    }

    .custom-header-title p{
        font-size: 20px;
    }

    .custom-header-title i{
        font-size: 19px;
    }

    .assets-summary{
        margin-top: 15px;
        padding: 15px;
    }

    .assets-summary-bg .assets-value{
        font-size: 21px;
    }

    .assets-summary-bg .assets-earn{
        font-size: 15.5px;
    }

    .assets-summary-bg .item-area{
        margin-top: 20px;
    }

    .assets-summary-bg .item-area .subtitle{
        font-size: 15px;
    }

    .assets-summary-bg .item-area .title{
        font-size: 13.3px;
    }

    .assets-wallet{
        padding: 13px;
    }

    .assets-wallet p{
        font-size: 15px;
    }

    .assets-wallet .right .subtitle{
        text-align: end;
        font-weight: 300;
        font-size: 14px;
    }

    .subscribe-bg{
        padding: 15px;
    }

    .subscribe-bg .title{
        font-size: 15px;
        margin-bottom: 8px;
    }

    .subscribe-package{
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        gap: 6px;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
        flex-wrap: unset;
    }

    .subscribe-package .item{
        font-size: 13px;
        padding: 4px 1px;
        min-width: 30%;
    }

    .subscribe-progress{
        margin-top: 13px;
    }

    .subscribe-amount{
        margin-top: 4px;
        font-size: 18px;
    }

    .subscribe-amount span{
        font-size: 15px;
    }

    .subscribe-bottom .left .title, .subscribe-bottom .center .title{
        font-size: 13px;
    }

    .subscribe-bottom .left .subtitle, .subscribe-bottom .center .subtitle{
        font-size: 17px;
    }

    .subscribe-bottom .right .custom-button{
        font-size: 13.5px;
        padding: 8px;
        min-width: 97px;
    }

    .subscribe-list .item{
        padding: 15px;
    }

    .subscribe-list .item .top .title{
        font-size: 20px;
        line-height: 23px;
    }

    .subscribe-list .item .top .subtitle{
        font-size: 14px;
        line-height: 16px;
    }

    .subscribe-list .item .top img{
        height: 65px;
    }

    .subscribe-list .item .top .unit-price{
        font-size: 14px;
    }

    .subscribe-list .item .center{
        margin-top: -4px
    }

    .subscribe-list .item .center .center-item .subtitle{
        font-size: 15.5px;
    }

    .profile-detail{
        margin-top: 15px;
        padding: 15px;
    }

    .profile-detail-bg .top .left .name{
        font-size: 16.5px;
        margin-bottom: 5px;
    }

    .profile-detail-bg .top .left .email{
        font-size: 15px;
    }

    .profile-detail-bg .top .left .refer{
        font-size: 15px;
    }

    .profile-detail-bg .top .right i{
        font-size: 18px;
        padding: 20px;
    }

    .profile-detail-bg .bottom .custom-button{
        font-size: 13px;
        padding: 9px;
    }

    .profile-detail-bg .bottom .custom-button i{
        font-size: 13.5px;
    }

    .profile-list .item{
        padding: 15px;
        font-size: 14px;
    }

    .profile-logout{
        margin-top: 35px;
    }

    .profile-detail-bg .bottom{
        margin-top: 25px;
    }

    .custom-tab .el-tabs__item{
        font-size: 13px;
    }

    .mission-list .item{
        padding: 15px;
    }

    .mission-list .item .custom-button{
        padding: 7px;
        min-width: 88px;
    }

    .guide-item{
        min-height: 180px;
    }

    .guide-item .item{
        padding: 10px;
        font-weight: 400;
        font-size: 15px;
    }

    .staking-amount{
        font-size: 18px;
        margin-top: 5px;
    }

    .staking-detail .bottom .left .subtitle, .staking-detail .bottom .center .subtitle{
        font-size: 16px;
    }

    .staking-detail .bottom .right .custom-button{
        padding: 8px;
        font-size: 13px;
        min-width: 105px;
    }

    .staking-list .staking-item .top .custom-button{
        padding: 6px;
        min-width: 100px;
    }

    .staking-list .staking-item .bottom{
        margin-top: 20px;
    }

    .staking-list .staking-item .center .item .title{
        font-size: 16px;
    }

    .staking-list .staking-item .bottom .area .amount{
        font-size: 16px;
    }

    .staking-list .staking-item .bottom .area .date{
        font-size: 13px;
    }

    .staking-detail-area .custom-form-title{
        margin-top: 15px;
    }

    .custom-form-title{
        margin-bottom: 9px;
        font-size: 14px;
    }

    .staking-available{
        font-size: 13.5px;
    }

    .staking-desc{
        font-size: 14px;
        margin-bottom: 9px;
    }

    .staking-summary-title .title{
        font-size: 17.5px;
    }

    .staking-summary-title .span{
        font-size: 14px;
    }

    .staking-summary{
        padding: 15px;
    }

    .staking-summary-terms{
        font-size: 13.5px;
        line-height: 20px;
    }

    .pool-summary{
        padding: 30px;
    }

    .pool-summary-bg .subtitle{
        font-size: 21px;
    }

    .pool-result .item-area{
        margin-bottom: 18px;
    }

    .dashboard-head-icon{
        margin-bottom: 7px;
    }

    .dashboard-head-icon i{
        font-size: 18px;
    }

    .ico-summary{
        margin-top: 20px;
        padding: 15px;
    }

    .ico-summary-bg .desc{
        margin-bottom: 4px;
    }

    .ico-summary-bg .title{
        font-size: 21px;
    }

    .ico-summary-bg .title-desc{
        font-size: 13.5px;
    }

    .ico-progress{
        margin-top: 12px;
    }

    .ico-progress .el-progress-bar__inner .el-progress-bar__innerText{
        font-size: 11px;
        font-weight: 300;
    }

    .ico-summary-bg .bottom{
        margin-top: 22px;
    }

    .ico-summary-bg .bottom .bottom-title{
        font-size: 17px;
    }

    .ico-summary-bg .bottom .bottom-desc{
        font-size: 13px;
    }

    .ico-summary-bg .bottom .custom-button{
        padding: 7px;
        min-width: 100px;
    }

    .ico-list .item{
        padding: 13px 15px 18px;
    }

    .ico-list .item .center .left .title{
        font-size: 19px;
        margin-bottom: 7px;
    }

    .ico-list .item .center .left .desc{
        font-size: 13px;
    }

    .ico-list .item .center .right .custom-button{
        font-size: 13px;
        padding: 7px;
        min-width: 95px;
    }

    .leader-card .leader-item .bottom{
        font-size: 14px;
    }

    .leader-card .leader-item .bottom .right{
        font-size: 16px;
    }

    .leader-reward .item{
        padding: 15px;
        margin-bottom: 15px;
    }

    .leader-reward .item .left{
        font-size: 14px;
    }

    .leader-reward .item .right .custom-button{
        min-width: 85px;
        padding: 7px;
        font-size: 13px;
    }

    .leader-terms-title{
        font-size: 19px;
    }

    .leader-terms{
        font-size: 13.5px;
    }

    .subscribe-list .item .bottom{
        margin-top: 25px;
    }

    .subscribe-list .item .bottom .custom-button{
        padding: 8.5px;
        font-size: 13px
    }

    .team-summary{
        margin-top: 20px;
        padding: 30px;
    }

    .team-summary-bg .right i{
        font-size: 18px;
        padding: 18px;
    }

    .team-summary-bg .title{
        font-size: 14px
    }

    .team-summary-bg .subtitle{
        font-size: 18.5px;
    }

    .team-detail,.team-level{
        margin-top: 5px;
    }

    .team-detail .item .subtitle{
        font-size: 15.5px;
    }

    .team-level .item{
        margin-bottom: 15px;
        font-size: 14px;
    }
    
    .membership-rank{
        margin-top: 30px;
    }

    .membership-rank img{
        height: 150px;
    }

    .membership-detail{
        margin-top: 3px;
    }

    .membership-detail img{
        min-height: 200px;
    }

    .membership-detail .detail .title{
        font-size: 20px;
        margin-top: 13px;
    }

    .membership-detail .detail .custom-button{
        margin-top: 15px;
        padding: 7px;
        font-size: 13px;
        min-width: 100px;
    }

    .membership-condition{
        font-size: 13.5px;
    }

    .ads-result{
        margin-bottom: 30px;
        padding: 15px;
        margin-top: 20px;
    }

    .ads-result .top .title{
        font-size: 14px;
        margin-bottom: 5px;
    }

    .ads-result .top .subtitle{
        margin-bottom: 5px;
        font-size: 20px;
    }

    .ads-result .center .item .subtitle{
        font-size: 16px;
    }

    .ads-result .bottom .custom-button{
        font-size: 13px;
        padding: 7.5px;
    }

    .customer-card{
        padding: 15px;
        margin-top: 15px;
        font-size: 14px;
    }

    .customer-card img{
        height: 30px;
        margin-right: 11px;
    }

    .custom-select .el-input__wrapper,.custom-input-title .custom-upload{
        padding: 0 13px;
    }

    .custom-upload input{
        font-size: 14px;
    }

    .deposit-qr{
        margin-top: 17px;
    }

    .deposit-qr .deposit_address{
        margin-top: 8px;
        font-size: 14px;
    }

    .deposit-qr .deposit_copy{
        margin-bottom: 16px;
        font-size: 15.5px;
    }

    .custom-input-title{
        margin-bottom: 20px;
    }

    .custom-tel-input{
        height: 42px;
    }

    .acceptor-list .item{
        padding: 15px;
    }

    .acceptor-list .item .title{
        font-size: 18px;
    }

    .acceptor-list .item i{
        font-size: 15px;
    }

    .acceptor-list .acceptor-wallet{
        font-size: 18px;
    }

    .acceptor-list .acceptor-wallet span,.acceptor-list .acceptor-desc{
        font-size: 14px;
    }

    .acceptor-list .custom-button{
        margin-top: 24px;
        padding: 9.5px;
        font-size: 13px;
    }

    .dashboard-qrshare .title{
        font-size: 21px;
    }

    .dashboard-qrshare .subtitle{
        font-size: 13.5px;
    }

    .dashboard-qrshare .qr-code{
        width: 170px !important;
        height: 170px !important;
    }

    .login-bg{
        padding-bottom: 70px;
    }

    .custom-tel-input input{
        font-size: 13px;
    }

    .profile-update{
        margin: 20px;
    }

    .profile-update .user-icon{
        padding: 24px;
        font-size: 28px;
    }

    .profile-update .pen-icon{
        width: 30px;
        height: 30px;
        font-size: 10px;
        bottom: -5px;
        right: 5px;
    }

    .membership-home-card .small{
        font-size: 14px;
    }

    .membership-detail .detail .title span{
        font-size: 14px;
    }

    .membership-modal .custom-button{
        margin-top: 29px;
        padding: 8=9px;
    }

    .membership-modal .item{
        font-size: 14px
    }

    .staking-list .staking-item .center .item .subtitle{
        font-size: 13.5px;
    }

    .register_text{
        margin-bottom: 70px;
    }

    .introduction-page .bottom{
        bottom: 70px;
    }

    .introduction-swiper .swiper-pagination{
        bottom: 115px;
    }

    .profile-update .user-profile{
        height: 75px;
        width: 75px;
    }

    .profile-avatar{
        height: 60px;
        width: 60px;
    }

    .ads-modal .title{
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .ads-modal .subtitle{
        font-size: 14px;
        margin-bottom: 22px;
    }

    .bank-hint{
        font-size: 14px;
    }

    .withdraw-model-msg{
        font-size: 15.5px;
    }

    .custom-tab.my-team .el-tabs__item{
        padding: 0 18px !important;
    }

    .receipt-area .receipt-img{
        height: 200px;
        max-width: 100%;
    }

    .leader-comingsoon{
        padding: 30px 20px 45px;
    }

    .leader-comingsoon .center .item{
        font-weight: 300;
        font-size: 14px;
    }

    .leader-comingsoon .title{
        font-size: 18px;
        margin-bottom: 18px;
    }

    .staking-detail .head-title{
        font-size: 15px;
    }

    .share-item{
        min-width: 100%;
    }

    .deposit-term{
        font-size: 14px;
    }

    .dashboard-qrshare .bottom .copy-text{
        font-size: 13px;
    }

    .ads-mission{
        margin-top: 20px;
        padding: 15px;
    }

    .ads-mission .center{
        margin-left: 10px;
        margin-right: 4px;
    }

    .ads-mission .center p{
        font-size: 14.5px;
        line-height: 17px;
    }

    .ads-mission .center .box{
        font-weight: 500;
        font-size: 13px;
    }

    .ads-mission .right{
        padding: 5px 10px;
        font-size: 13px;
    }

    .ads-mission .logo img{
        height: 50px;
        width: 50px;
    }

    .ads-mission .logo .blur-area{
        height: 60px;
        width: 56px;
    }
    .person-wrapper{
        display: flex!important;
        flex-direction: column;
    }
    .person-text{
        font-size: 17px!important;
    }
    .person-desc-container {
        padding: 1.5rem .5rem!important;
    }

    .person-name{
        font-size: 32px!important;
        padding: 2rem .5rem 1rem!important;
    }
    .contact-title{
        font-size: 32!important;
    }
    .career-learn-btn{
        width: 100%!important;
    }
    .career-working-container{
        padding:0!important;
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .career-working-text{
        font-size: 13px!important;
    }
    .fundamentals-offer ,.opportunity-text{
        font-size: 18px!important;
    }
    .fundamentals-title-text,.opportunity-title{
        font-size: 23px!important;
        text-align: center!important;
    }
    .mobile{
        display: block!important;
    }
    .web{
        display: none!important;
    }
    .strategy-title-mobile{
        padding:.5rem!important;
        font-size: 13px!important;
    }
    .strategy-text-mobile{
        padding:.5rem!important;
        font-size: 15px!important;
    }
    .strategy-img-mobile{
        display: block;
        object-fit: cover;
        height: 300px;
        width: 100%;
        z-index: -2;
    }
    
    .hover-wrapper-mobile::before{
        z-index: 2!important;
        content: ""!important;
        display: block!important;
        position: absolute!important;
        left: 0!important;
        bottom: 0!important;
        right: 0!important;
        top: 0!important;
        width: 100%!important;
        height: 300px!important;
        background: linear-gradient(180deg, rgba(31, 53, 117, 0) 23%, rgba(31, 53, 117, 0) 38%, #1f3575)!important;
    }
    .strategy-title-mobile-container{
        padding:1rem;
        margin-top: -5.0rem;
        margin-bottom: 0.5rem;
        position: relative;
        /* border: 2px solid red; */
        background-color: rgb(249, 249, 249);
        overflow: hidden;
        z-index: 10;
    }

    .people-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .people-background-container{
        min-height: 300px;
    }

    .fundamentals-mobile-1{
        display: none!important;
        display: flex;
        flex-direction: column!important;
        margin-bottom: 0rem!important;
    }
    .filter-people-checkbox{
        justify-content: space-between!important;
    }
}
@media(max-width:650px){
    .people-image{

    }
}
@media(max-width:460px){
    .person-image{
        margin-left: 0;
        min-width:0px!important;
        min-height: 333px!important;
        height: 100%!important;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .people-background-container{
        max-height: 100%!important;
        min-height: 100%!important;
        margin-bottom: 1rem!important;
    }
    .person-button-container.expand.center{
        display: flex;
        flex-direction: column!important;
    }
    .person-btn{
        margin-bottom: 1rem!important;
    }
    .office{
        padding: 2rem .5rem!important;
    }
    .contact-container.expand{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .contact-1-section{
        padding: .5rem!important;
    }
    .column-margin{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .contact-img{
        height: 300px!important;
        object-fit: cover!important;
        width: 100%!important;
    }
    .contact-title{
        font-size: 28px!important;
        flex-wrap: wrap;
        padding-top: 1rem;
        padding-bottom: 0;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }
    .fundamentals-title-text{
        padding-top: 2rem !important;
    }
    .image-about{
        height:250px!important  ;
    }
    .fundamentals{
        padding:0 0 2rem!important; 
    }
}